	@charset "utf-8";
	/* CSS Geral BASIC */

/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'yanone_kaffeesatzlight';
font-family: 'MyriadPro-Regular';
font-family: 'news701_btbold';
font-family: 'Signika', sans-serif;



font-family:"Lato Black";
font-family: 'Lato', sans-serif;

*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none; }
/* End Reset */


.top2 { margin-top:2px; }
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top18 { margin-top:18px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px !important;; }
.top30 { margin-top:30px !important;; }
.top35 { margin-top:35px !important;; }
.top40 { margin-top:40px !important; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top115 { margin-top:115px; }
.top120 { margin-top:120px; }
.top150 { margin-top:150px; }
.top170 { margin-top:170px; }
.top190 { margin-top:190px; }
.top195 { margin-top:195px; }
.top200 { margin-top:200px; }
.top210 { margin-top:210px; }
.top220 { margin-top:220px; }
.top240 { margin-top:240px; }
.top270 { margin-top:270px; }
.top300 { margin-top:300px; }
.top320 { margin-top:320px; }
.top350 { margin-top:350px; }
.top395 { margin-top:395px; }
.top560 { margin-top:560px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom90 { margin-bottom:90px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }
.bottom180 { margin-bottom:180px; }
.bottom200 { margin-bottom:200px; }
.bottom210 { margin-bottom:210px; }
.bottom280 { margin-bottom:280px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left81 { margin-left:81px; }
.left130 { margin-left:130px; }
.left210 { margin-left:210px; }
.left270 { margin-left:270px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right22 { margin-right:22px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right90 { margin-right:90px; }
.right100 { margin-right:100px; }
.right130 { margin-right:130px; }
.right210 { margin-right:210px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt300 { padding-top:300px; }

.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }

.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb200 { padding-bottom:200px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }



.container{
	width: 1170px !important;
}

.padding0{
	padding: 0px !important;
}


.input100{
	width: 100% !important;
}


.lato-black{
	font-family:"Lato Black";
}



body{
	overflow-x: hidden;
	background:#f3dd92;
	font-family: 'Lato', sans-serif;
}



h1{
	font-weight: 300;
	color: #000;
	font-size: 25px;

}

h1 span{

}


h2{
	font-weight: 700;
	font-size: 20px;
	color: #000;
}





h3 {
	font-weight: 400;
	color: #000;
	font-size: 12px;
}

h3 span{
	font-family:"Lato Black";
	color: #000;
	font-size: 50px;
}


h4{
	font-weight: 400;
	color: #000;
	font-size: 25px;

}

h4 span{
	font-size:15px;
}

h5{
	font-weight: 700;
	color: #000;
	font-size:30px;
}

h5 span{
	font-size:22px;
}

h6 {
	font-weight: 100;
	color: #000;
	font-size: 35px;
	text-decoration: underline;
}


p{
	font-weight: 300;
	font-size: 20px;
	color: #000;
	text-align: justify;
}

a:hover{
	text-decoration: none !important;
}



/**
============================================
					rodape
============================================
*/
.rodape{

	background: url(../imgs/bg-rodape.jpg) top center;
}

.rodape-preto{
	background: #000;
}

.rodape-preto h5{
	font-size:20px;
	color: #fff;
	font-weight: 300;
}


.menu-rodape li a {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	margin-right: 20px;
}

.menu-rodape li a:hover{
	font-weight: 400;
}

.menu-rodape li a.active{
	font-weight: 700;
	color: #fff;
}



.menu-rodape {
	list-style: none;
	padding: 0px;
}

.bg-menu-rodape {
	border-bottom: 1px solid #fff;
	padding-bottom: 15px;
}

.menu-rodape li {
	float: left;
}

.rodape p {
	font-weight: 300;
	color: #fff;
	font-weight: 300;
	font-size: 18px;
}

.rodape p i {
	margin-right: 10px;
}

/**
============================================
					rodape
============================================
*/



/**
============================================
					topo
============================================
*/

.tam-btn-topo{
	width: 215px;
}


.btn-amarelo{
	border-radius:0px;
	font-size:13px;
	color:#000;
	text-align: left;
	line-height: 16px;
	background:#be7304;
}

.btn-amarelo:hover{
	background:#7b4e03;
}

.form-busca-topo {
	min-width: 300px;
    margin: 0px -3px 0px;
}

.contatos-topo h2{
	padding: 10px;
	font-size:20px;
	color:#000;
	font-weight:400;
	border-bottom: 1px solid #000;
}

.contatos-topo {
	padding: 10px;
	width: 27%;
	background: #f3dd92;
	margin-right: 525px;
	top: 100%;
}


.topo-meu-orcamento {
	background: #fff;
	width: 470px;
	padding: 0px 10px;
}

.topo-meu-orcamento.pull-right {
	right: 16px;
	left: auto;
}

.bg-topo{
	height:80px;
	background:#f3dd92;
}

.menu-topo img{
	margin-left:10px;
}
.posicao-logo img{
	margin-top:-44px;
}


.menu-topo .navbar-nav  li  a{
	font-size:17px;
	color:#000;
	height: 80px;
	padding: 30px 10px;
	text-align: center;
}

.menu-topo .navbar-nav  li .i{
	margin-left:10px;
}

.menu-topo .navbar-nav  li  a:hover,.menu-topo .navbar-nav  li.active{
	color:#3f3f96;
	background:#e3bd67;
}

.menu-empresa{
	background:url(../imgs/icon-produtos1.png) center left no-repeat;
}


/*manter topo sempre em cima do slider*/
.topo-site{
	position: absolute;
	top: 0px;
	z-index: 500;
	width: 100%;
}
/*manter topo sempre em cima do slider*/






/**
============================================
					topo
============================================
*/


/**
============================================
					HOME
============================================
*/

/* .slider-index{
	height:97px;
	background: url(../imgs/fundo-transparente.png) bottom repeat;
}
*/
.slider-index p {
	text-shadow: 1px -1px 5px rgba(0, 0, 0, 0.76);
	color:#fff;
}

.btn-amarelo1 {
	font-size:22px;
	font-weight:300;
	padding:15px 27px 15px 60px ;
	border-radius:10px;
	color:#000;
	background: #be7304 url(../imgs/icon-carrinho.png)center left 22px no-repeat;
	position: absolute;
	z-index: 500 !important;
	bottom: 128px;
	-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
}

.btn-amarelo1:hover{
	font-size:22px;
	background:#7b4e03 url(../imgs/icon-carrinho.png)center left 22px no-repeat;
	color:#000;
}

.slider-index .carousel li {
	margin-right: 8px !important;
}

.slider-index .carousel-caption{
	/*position: initial;*/
	width: 100%;
	left: 0px;
}

.bg-sombra-home{
	position:absolute !important;
	width: 100%;
	height: 90px;
	background: url(../imgs/fundo-transparente.png) bottom repeat;
	bottom: 0px;
	z-index: 100 !important;
}

/* .conteudo .carousel-caption {
	right: 0%;
	left: 19%;
	padding-bottom: 0px;
	} */

	/* Carousel base class */
	.slider-index .carousel {
		height: 992px;
	}
	/* Since positioning the image, we need to help out the caption */
	.slider-index .carousel-caption {
		text-align: left;
		z-index: 10;
		bottom: 0px;
	}

	/* Declare heights because of positioning of img element */
	.slider-index .carousel .item {
		height: 992px;
		background-color: #777;
	}


	.slider-index .carousel-inner > .item > img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 992px;
	}


	.slider-index .carousel-indicators{
		bottom: 330px;
	}


	.slider-index .carousel-indicators li{
		background: #fff;
		border-radius: 50%;
		border: none;
		color: #fff;
		height: 25px;
		opacity: 0.5;
		width: 25px;
	}

	.slider-index .carousel-indicators .active{
		opacity: 1;
		background: #fff;
	}



	.slider-index .carousel-indicators {
		position: absolute;
		bottom: 230px;
		left: 54%;
		z-index: 15;
		width: 14%;
		padding-left: 0;
		margin-left: -30%;
		text-align: center;
		list-style: none;
	}


	.controles{
		z-index:99;
		background: none;
		color: #fff;
		font-size: 20px;
		height: 50px;
		opacity: 1;
		text-align: center;
		top: 717px;
		width: 50px;
	}

	.relative{
		position: relative;
	}

	.controles.right {
		background: none;
		right: 59%;
	}

	.controles.left {
		background: none;
		left: 20%;
	}

	.btn-slider{
		position: relative;
		z-index: 50;
	}

	.bg-categoria-titulo {
    height: 87px;
    background:url(../imgs/titulo-categoria.png) top left no-repeat;
}

.bg-categoria {
    height: 577px;
    z-index: 10;
    position: relative;
}


	.bg-familia{
		margin-top: -458px;
		padding-top: 568px;
		background: url(../imgs/bg-cat-home.png) top no-repeat;
	}


	/* flexslider */

	.slider-prod-dentro {
		margin-top: 330px;
	}

	.lista-categorias{
		background: url('../imgs/bg-titulo-categorias.jpg') top left no-repeat;
		padding-top: 85px;
    		margin-top: -80px;
	}

	.lista-categorias .flexslider {
		border: none !important;
	}

	.slider-prod .categorias{
		background: #be7304;
	}

	.slider-prod .categorias1{
		background: #d38928;
	}

	.slider-prod h3{
		margin: 0px 0px 13px 0px;
		text-align: center;
		height: 30px;
	}


	.slider-prod-dentro .flexslider .slider img{
		/*max-height: 125px;*/
		margin-top: 5px;
	}

	.slider-prod h3 {
		margin: 0px 0px 13px 0px;
		text-align: center;
	}


	/* flexslider */



/*==================================================
 * Effect 2
 * ===============================================*/
 .effect2
 {
 	position: relative;
 }
 .effect2:before, .effect2:after {
 	background: #777;
 	bottom: 7px;
 	box-shadow: 0 15px 10px #777;
 	content: "";
 	left: 1px;
 	max-width: 300px;
 	position: absolute;
 	top: 63%;
 	transform: rotate(-3deg);
 	width: 50%;
 	z-index: -1;
 }
 .effect2:after
 {
 	transform: rotate(3deg);
 	right: 1px;
 	left: auto;
 }


 .produtos-home{
 	border:inherit;
 	min-height: 240px;
 	background:#e3bd67;
 	padding:10px;
 }

 .produtos-home h1{
 	overflow:hidden;
 	height:47px;
 	font-weight:300;
 	font-size: 20px;
 	color:#000;

 }

 .produto-hover {
    left: 15px;
    background: url(../imgs/fundo-transparente.png);
    width: 252px;
    height: 238px;
    position: absolute;
    top: 16px;
    opacity: 0;
    padding-top: 80px;
}

 .produtos-home .caption {
 	padding:20px 0px !important;

 }

 .bg-produtos-home {
 	background: url(../imgs/bg-produtos-home.png)top 109px left no-repeat;
 }

.lista-categorias .flexslider{
	background: none !important;
 }


 .bg-sobre{
 	height:672px;
 	background: url(../imgs/bg-sobre-home.jpg)top center no-repeat;
 }

 .decricao-sobre{
 	max-height: 196px;
 	overflow-y: auto;
 }

 .btn-transparente{
 	border:1px solid;
 	background:none;
 	color:#000;
 	font-weight:300;
 	padding:21px 36px;
 }

 .btn-transparente:hover{
 	background: url(../imgs/fundo-transparente.png);
 }



.dicas-home h1 {
    overflow: hidden;
    line-height: 24px;
    height: 50px;
}

 .dicas-home{
 	border:none;
 	background:none;
 	padding:0px;
 }


 .dicas-home .caption {
 	padding:10px 0px !important;

 }
/**
============================================
					HOME
============================================
*/


/**
============================================
					EMPRESA
============================================
*/

.bg-empresa{
	background:#f3dd92 url(../imgs/bg-empresa.jpg) top center no-repeat;
}

.bg-descricao-empresa{
	height: 298px;
	background: url(../imgs/bg-empresa-descricao01.png)top 213px left no-repeat,url(../imgs/bg-descricao-empresa.png)top right no-repeat;
}


.descricao-empresa{
	background:#e3bd67;
}

.btn-empresa {
	font-size:22px;
	font-weight:300;
	padding:15px 27px 15px 60px ;
	border-radius:10px;
	color:#000;
	background: #be7304 url(../imgs/icon-carrinho.png)center left 22px no-repeat;
	-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
}

.btn-empresa:hover{
	font-size:22px;
	background:#7b4e03 url(../imgs/icon-carrinho.png)center left 22px no-repeat;
	color:#000;
}

.controles-empresa,.controles-empresa:hover,.controles-empresa:focus{
	background: none !important;
	color: #000;
	font-size: 50px;

}


/**
============================================
					EMPRESA
============================================
*/



/**
============================================
					CONTATOS
============================================
*/

.bg-fale-conosco{
	background: url(../imgs/bg-fale-conosco01.jpg) top center no-repeat;
}

.contatos .nav li a {
	margin-left:10px;
	width: 262px;
	height: 50px;
	background:#f3dd92;
	font-size: 18px;
	font-weight: 700;
	color: #000;
}

.contatos .nav>li a:hover{
	width: 262px;
	background:#a29263;
}



.contatos .nav-stacked>li {
	width: 262px;
	margin-bottom: 10px;
}



.fundo-contatos h1{
	margin-top: 10px;
}



.contatos h5{
	text-shadow:none;
	font-size:24px;
	color:#000;
	font-family: "Lato Black";

}

.contatos h5 span{
	font-size:18px;

}

.contatos h1{
	font-weight:700;
}

.btn-azul-claro{
	margin-top:5px;
	color:#fff;
	border-radius:0px;
	background:#29a6e0;
}

.btn-formulario{
	padding:20px 40px;
	font-size:18px;
	font-family: "Lato Black";
	color:#fff;
	border-radius:0px;
	background:#7b4e03;
}

.formulario label{
	font-size: 16px;
	font-weight:700;
}

.btn-formulario:hover,.btn-azul-claro:hover{
	background:#9a600b;
	color:#fff;

}

.contatos-geral1 p, .contatos-geral p {
	overflow: hidden;
	width: 375px;
	height: 59px;
}

.fundo-formulario{
	border-radius:10px;
}

label span{
	font-family: 'Lato', sans-serif;
	font-size:20px;
	color:#000;
}

.btn-amarelo-fale{
	border-radius:0px;
	font-size:15px;
	color:#000;
	text-align: left;
	line-height: 16px;
	background:#f3dd92;
}

.btn-amarelo-fale:hover{
	background:#7b4e03;
}
.bg-como-chegar{
	margin-top:464px;
	height:165px;
	background:url(../imgs/como-chegar.png) top center no-repeat;
}


.fundo-form1{
	background:#f3dd92;
}

/**
============================================
					CONTATOS
============================================
*/

/**
============================================
					NOTICIAS
============================================
*/

.bg-noticias{
	background: #f3dd92 url(../imgs/bg-noticias.jpg) top center no-repeat;
}

.bg-descricao-noticias {
	height: 297px;
	background: url(../imgs/bg-noticias-descricao01.png)top 218px left no-repeat,url(../imgs/bg-descricao-noticias.png)top right no-repeat;
}

.fundo-amarelo{
	background:#e3bd67 !important;
	height:80px;
}

.btn-drop {
	font-weight: 300;
	font-size: 20px;
	color: #000;
	background: #fff;
}

.input-group-lg>.input-group-btn>.btn {
	border-radius:0px;
	background: #be7304;
	color: #fff;
}

.menu-categorias {
	min-width: 264px;
	margin: 47px 0 0;
	font-size: 18px;
}

.noticias-thumb h1,.noticias-thumb-dentro h1{
	padding-bottom: 20px;
	border-bottom:1px solid #000;
}

.noticias-thumb,.noticias-thumb-dentro{
	position:relative;
	padding:0px;
	background:none;
	border:0px;
}
.noticias-thumb p {
	max-height: 94px;
	padding: 10px;
	font-size: 15px;
	color: #fff;
	font-weight: 400;
	overflow: hidden;
}

.comentario-noticias{
	border-radius:5px;
	color:#000;
	background:#e3bd67;
}


.noticias-descricao{
	top: 195px;
	position:absolute;
}


.btn-laranja, .btn-laranja:hover {
	border-radius:0px 0px 5px 5px;
	padding: 2px 33px;
	border: none;
	background: #be7304;
	color: #000;
}



.comentario-dicas h2 {
	font-size: 25px;
	color: #000;
	font-weight:700;
}

.btn-comentario{
	border-radius: 0px;
	padding: 16px 70px;
	background: #be7304;
	font-size: 17px;
	color: #fff;
	font-weight: 300;
}

.jumbotron p {
	margin-bottom: 15px;
}

.comentario-dicas .jumbotron{
	padding:20px;
	border-radius:0px !important;
	background: #e3bd67;
}
/**
============================================
					NOTICIAS
============================================
*/


/**
============================================
					ORCAMENTO
============================================
*/

.bg-orcamento{
	background: #f3dd92 url(../imgs/bg-orcamentos.jpg) top center no-repeat;
}

.bg-descricao-orcamentos {
	height: 303px;
	background: url(../imgs/bg-enviar-orcamento.png)top 221px left no-repeat,url(../imgs/bg-orcamento-pessoas.png)top right no-repeat;
}

.bg-descricao-orcamentos {
	height: 303px;
	background: url(../imgs/bg-selecione-orcamentos.png)top 212px left no-repeat,url(../imgs/bg-orcamento-pessoas.png)top right no-repeat;
}

.tipos-orcamentos,.envie-orcamentos{
	background: #e3bd67;
}

.tipos-orcamentos h1{
	min-height: 97px;
	padding-bottom:20px;
	border-bottom: 1px solid #000;
	font-size:18px;
	font-weight:300;
}

.envie-orcamentos h1{
	font-size:30px;
	font-weight:300;
}


.formulario .form-group{
	border-radius:0px;
	padding:0px 10px;
}

.formulario .fa,.formulario p{

	font-weight: 300;
	font-size: 20px;
	color: #000;
}

.radio-inline, .checkbox-inline {
	padding-left: 35px;
}
input[type=radio], input[type=checkbox] {
	margin: 4px 0 0;
}


.input-lg, .form-group-lg .form-control {
	border-radius: 0px;
}
.subtitulo-formulario h2{
	font-weight: 400;
}
.calendario label{
	font-weight: 700;
	font-size: 20px;
	color: #000;
}



.tb-lista-itens td,.fa-times-circle:before {
	font-weight:300;
	color:#000;
	font-size:17px;
	vertical-align: middle !important;
}

.tb-lista-itens tbody,.tb-lista-itens table{
	margin-bottom: 0px !important;
	border-bottom:2px solid #b69752;
	background:#e3bd67;
}

.tb-lista-itens h5,.formulario-orcamento h5{
	text-shadow:none;
	color:#000;
}

.tb-lista-itens thead{

	font-size:20px;
	font-weight:300!important;
	background:#ccaa5c;
}

.tb-lista-itens th,.tb-lista-itens .table>thead>tr>th{
	border:none;
	font-size:20px;
	font-weight:300!important;
}


.input-lista-prod-orcamentos {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/**
============================================
					ORCAMENTO
============================================
*/


/**
============================================
					PRODUTOS
============================================
*/

.bg-produtos{
	background: #f3dd92 url(../imgs/bg-produtos.jpg) top center no-repeat;
}

.bg-descricao-produtos{
	height:338px;
	background: url(../imgs/bg-produtos-descricao01.png)top 260px left no-repeat,url(../imgs/bg-produtos-conheca.png)top right no-repeat;
}


.menu-destaques{
	height:50px;
	border-radius:0px;
	font-size:17px;
	color:#000;
	line-height: 16px;
	background:#be7304;
}

.menu-produtos-cat{
	background:#e3bd67;
	height:50px;
	font-size:17px;
	color:#000;
	line-height: 16px;
}

.menu-produtos h2{
	font-size:17px;
	color:#000;
	line-height: 16px;
}





.produto-dentro h5{
	color: #000;
	font-size:30px;
	padding-bottom:20px;
	border-bottom:2px solid #e3bd67;
	font-weight:300;
}



.carroucel-produtos .active {
	width: 20px;
	height: 20px;
	margin: 2px;
	opacity:1;
	background-color: #fff;
}

.carroucel-produtos li{
	width: 20px;
	height: 20px;
	margin: 2px;
	opacity:0.5;
	background-color: #fff;

}

.carroucel-produtos, .carousel li {
	margin-right: 0px !important;
}

.carroucel-produtos {

}

.controles-produtos,.controles-produtos:hover,.controles-produtos:focus{
	background: none !important;
	color: #fff;
	font-size: 50px;
}
.controles-produtos{
	height:40px;
	width:40px;
	top:273px;
}
.controles-produtos.right {

}

.controles-produtos.left{

}

.detalhes-produtos h4{
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:15px;
}

.detalhes-produtos h4 span{
	padding-left:10px;
	font-weight:300;
	font-size:20px;
}

.btn-produtos-dentro{
	height: 55px;
	font-weight:300;
	font-size:22px;
	color:#000;
	text-align: left;
	line-height: 16px;
	background:#be7304;
	-webkit-box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    -1px 2px 4px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         -1px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.btn-produtos-dentro:hover{
	background:#7b4e03;
}

.descricao-produtos-dentro h1{
	font-weight:700;
	font-size: :20px;
}

.comentario-produto h2 {
	font-size: 25px;
	color: #000;
	font-weight:700;
}
.comentario-produto .jumbotron{
	padding:20px;
	border-radius:0px !important;
	background: #dac683;
}
/**
============================================
					PRODUTOS
============================================
*/





/**
============================================
					SERVICOS
============================================
*/

.bg-servicos{
	background: #f3dd92 url(../imgs/bg-servicos.jpg) top center no-repeat;
}

.bg-descricao-servicos{
	height:298px;
	background: url(../imgs/bg-titulo-servico.png)top 213px left no-repeat,url(../imgs/bg-servicos-pessoas.png)top right no-repeat;
}

.categorias-servicos .flexslider {
	padding:15px;
	background:#e3bd67;
	border: none !important;
}


.categorias-servicos .flexslider .slides img{
	width:auto !important;
}

.categorias-servicos .media-left, .categorias-servicos .media-right, .categorias-servicos .media-body {
	vertical-align: middle;
}

.img-circle {
	margin-right: inherit;
	-webkit-box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    -1px 2px 4px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         -1px 2px 4px 0px rgba(0, 0, 0, 0.75);

}

.empresa-carroucel .img-circle{
	-webkit-box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    -1px 2px 4px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         -1px 2px 4px 0px rgba(0, 0, 0, 0.75);

}

.empresa-carroucel img{
	margin-right: 92px;
}

.position-servico{
	position:relative;
}

.tipos-servicos{
	position:absolute;
	bottom:-14px;
	height:47px;
	width:98%;
	background:#e3bd67;
}

.position-servico p{
	overflow:hidden;
	max-height:110px;
}

.servicos-detalhe img{
	padding-top:20px;
	border-top:10px solid #e3bd67;
}

.tipos-servicos-detalhe .media,.tipos-servicos-detalhe .media-middle{
	margin:0px;
	height:35px;
}
/**
============================================
					SERVICOS
============================================
*/



.descricao-empresa h2 p{
	font-weight: 700;
	font-size: 20px;
	color: #000;
}



.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 20px;
	padding-bottom: 10px;
}


.lista-itens-carrinho h1{
	font-size: 20px;
}

.menu-orcamento{
	width:100px;
	margin-top:8px;
}





/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
	width:100%;
	height: 903px;
	margin: 0px auto;
	overflow: hidden;
	position: relative;
}

#content_slider {
	width:1920px;
	height:903px;
	overflow:hidden;
	position:absolute;
	margin-left:-960px;
	left:50%;
}


.container_banner_faixa{
	width: 100%;
	height: 95px;
	background: url(../imgs/bg-faixa-banner.png) repeat;
	position: absolute;
	bottom: 47px;
}


#content-slider-1 .rsContent p{
	color: #fff;
	font-size: 19px;
	font-weight: 300;
}

#content-slider-1{
	position: relative;
}



#content-slider-1 .rsContent{
	height: 95px;
	background: url(../imgs/bg-faixa-banner.png) repeat;
	position: absolute;
	bottom: 22px;
}


#content-slider-1 .rsTabs {
    width: 200px;
    height: 50px;
    z-index: 9999;
    position: absolute;
    left: 500px;
    bottom: 250px;
}

#content-slider-1 .rsNavItem {
    background: #fff;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
}

#content-slider-1 .rsNavSelected {
    background: #c7bdb7;
}


#content-slider .rsContent{
	background: red;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


.telefones_topo h1{
	font-size: 20px;
	color: #000;
	font-weight: 700;

}
