
/* Easy Slider */
	
	#slider,
	#slider2{
		width:696px !important;
		height:241px !important;
	}
	
	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:696px;
		height:241px;
		overflow:hidden; 
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:66px;
		height:66px;
		position:absolute;
		left:50%;
		top:200px;
		z-index:1000;
		margin-left:-490px;
		}	
	#nextBtn, #slider1next{ 
		left:50%;
		margin-left:418px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{ 
		font-size:0; 
		display:block;
		position:relative;
		width:66px;
		height:66px;
		background:url(../images/btn-nav.png) left top no-repeat;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(../images/btn-nav.png) right top no-repeat;	
		}
		
		#nextBtn a:hover, #slider1next a:hover{
			background-position:right bottom;	
		}
		
		#prevBtn a:hover, #slider1prev a:hover{
			background-position:left bottom;	
		}
		
	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */