@charset "utf-8";

/* CSS Geral BASIC */


/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'Lato', sans-serif;
font-family:"Lato Black";
*/

@import url('./fonts.css');

/* Reset */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none;}
/* End Reset */



.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top12 { margin-top:12px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top35 { margin-top:35px; }
.top40 { margin-top:40px; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top130 { margin-top:130px; }
.top140 { margin-top:140px; }
.top150 { margin-top:150px; }
.top155 { margin-top:155px; }
.top160 { margin-top:160px; }
.top170 { margin-top:170px; }
.top180 { margin-top:180px; }
.top190 { margin-top:190px; }
.top195 { margin-top:195px; }
.top200 { margin-top:200px; }
.top205 { margin-top:205px; }
.top210 { margin-top:210px; }
.top230 { margin-top:230px; }
.top250 { margin-top:250px; }
.top260 { margin-top:260px; }
.top270 { margin-top:270px; }
.top330 { margin-top:330px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left130 { margin-left:130px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right130 { margin-right:130px; }
.right230 { margin-right:230px; }
.right270 { margin-right:270px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt170 { padding-top:170px; }
.pt190 { padding-top:190px; }
.pt200 { padding-top:200px; }
.pt300 { padding-top:300px; }

.pl5 { padding-left:5px; }
.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }


.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb25 { padding-bottom:25px !important; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb70 { padding-bottom:70px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb190 { padding-bottom:190px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }

.container {
	max-width: 480px;
}

.input100 {
	width: 100% !important;
}



body {
	background: #f3dd92;
	font-family: 'Lato', sans-serif;
}



.padding0{
	padding:0px !important;
}

.lato-black{
	font-family:"Lato Black";
}

h1 {
	font-size:15px;
	color:#000;
}
h1 span {
	font-size:20px;
	font-weight:700;
}

h2 {
	font-size:9px;
	color:#000;
}

h2 span{

}


h3 {
	font-size:17px;
	color:#000;

}

h3 span{
	font-size:12px;

}

h4{
	font-weight:400;
	font-size:12px;
	color:#000;
}

h4 span{
	line-height:23px;
	font-family:"Lato Black";
	font-size:29px;
	letter-spacing: -2px;
}

h5 {

}

h5 span{


}

h6 {

}

p {
	color:#000;
	font-size:15px;
	text-align: justify;
}


a:hover {
	text-decoration: none;
}




/**
============================================
					RODAPE
============================================
*/

.bg-fundo-preto{
	position: relative;
	background: #000;
}

.bg-fundo-preto p{
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	padding: 10px 0px;
	text-align: center;
}


/**
============================================
					RODAPE
============================================
*/



/**
============================================
					TOPO
============================================
*/

.topo-site {
	position: absolute;
	top: 0px;
	z-index: 100;
	width: 100%;
}

.telefones {
	padding: 12px 10px;
	text-align: right;
	width: 180px;
	height: 41px;
	background: #be7304 url(../imgs/icon-telefone.png)left 10px center no-repeat;
}

.telefones h3{
	color: #fff;
}


.btn-chamar,.btn-chamar:hover{
	color:#fff;
	height: 41px;
	border:inherit;
	border-radius:0px;
	font-size:17px;
	background:#940000;
}

.menu-topo{
	height:60px;
	background:#f3dd92;
}


.btn-menu,.btn-menu:hover{
	font-size:17px;
	color:#000;
	font-weight:400;
}

.posicao-img img{
	margin-top:-27px;
}

.btn-amarelo-escuro, .btn-amarelo-escuro:hover {
	width: 64px;
	border-radius: 0px;
	height: 60px;
	font-size: 20px;
	background: #e3bd67;
	color: #000;
	padding: 13px 2px;
}


.btn-amarelo-escuro1, .btn-amarelo-escuro1:hover {
	background: #e3bd67;
	color: #000;
}



.sub-menu.dropdown-menu>li>a,.sub-menu.dropdown-menu {
	color: #000;
}



.sub-menu.dropdown-menu {
	background:#f3dd92;
	top: 136%;
	margin: 2px 13px 0;
}

.form-busca-topo .navbar-form {
	width: 301px;
}

.btn-amarelo,.btn-amarelo:hover {
	background:#f3dd92;
	color: #000;
}

.topo-meu-orcamento {
	color: #fff;
	min-width: 300px;
	margin: 2px 0px 0;
	font-size: 14px;
}
/**
============================================
					TOPO
============================================
*/

/**
============================================
					HOME
============================================
*/

.btn-amarelo1,.btn-amarelo1:hover{
    z-index: 999;
    padding-right: 0px;
    font-size: 12px;
    height: 33px;
    width: 189px;
    border-radius: 5px;
    color: #000;
    background: #be7304 url(../imgs/icon-carrinho-mini.png)center left 5px no-repeat;
    bottom: 128px;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
}



.slider-index .carousel-control.right,
.slider-index .carousel-control.left{
	background: none;
}


.slider-index p {
	overflow:hidden;
	height: 54px;
	text-shadow: 1px -1px 5px rgba(0, 0, 0, 0.76);
	color:#fff;
	font-size:13px;
}

.slider-index .carousel-caption {
	left:0px;
	right: 0px;
	z-index:5;
	padding-top:0px;
	bottom: 0px;
	padding:inherit;
	height: 124px;
}

.bg-sombra-home{
	height: 61px;
	background: url(../imgs/fundo-transparente.png);
}

.bg-categoria {
    margin-right: -15px;
    height: 244px;
    background: url(../imgs/bg-cat-home.png) top right no-repeat;
    z-index: 1;
}

.subir-cat{
	margin-top:-184px;
}


.lista-categorias{
	background: url("../imgs/titulo-conheca-nossas-categorias.jpg") top left no-repeat;
    padding-top: 40px;
    margin-top: -40px;
}



.lista-categorias .flexslider {
	margin: 0 0 35px;
	border: none !important;
	background: #d38928;
}

.lista-categorias .flexslider .slides img {
	height: 55px;
	padding: 5px;
}

.slider-prod .categorias {
	height: 90px;
	background: #be7304;
}

.slider-prod .categorias1 {
	height: 90px;
	background: #d38928;
}

.slider-prod h2 {
	overflow:hidden;
	height: 25px;
	padding: 5px 0px;
	text-align: center;
}

.lista-categorias .flex-direction-nav a {
	margin: -30px 0 0;
}

.lista-categorias .flex-control-nav {
	bottom: -27px;
}



/*==================================================
 * Effect 2 sombra preta
 * ===============================================*/
 .effect2
 {
 	position: relative;
 }
 .effect2:before, .effect2:after {
 	background: #000;
 	bottom: 12px;
 	box-shadow: 0 15px 10px #000;
 	content: "";
 	left: 1px;
 	max-width: 300px;
 	position: absolute;
 	top: 63%;
 	transform: rotate(-2deg);
 	width: 50%;
 	z-index: -1;
 }
 .effect2:after
 {
 	transform: rotate(2deg);
 	right: 1px;
 	left: auto;
 }



/*==================================================
 * Effect 2 sombra cinza
 * ===============================================*/

 .effect-cat
 {
 	position: relative;
 }
 .effect-cat:before, .effect-cat:after {
 	background: #777;
 	bottom: 12px;
 	box-shadow: 0 15px 10px #777;
 	content: "";
 	left: 1px;
 	max-width: 300px;
 	position: absolute;
 	top: 63%;
 	transform: rotate(-2deg);
 	width: 50%;
 	z-index: -1;
 }
 .effect-cat:after
 {
 	transform: rotate(2deg);
 	right: 1px;
 	left: auto;
 }

 .produtos-home h1{
 	line-height:16px;
 	font-weight:400;
 	font-size: 15px;
 	color:#000;
	overflow: hidden;
	height: 31px;

 }
 .produtos-home{
 	margin-bottom: 15px;
 	border-radius:0px;
 	border:inherit;
 	background:#e3bd67;
 	padding:10px;
 }

 .produtos-home .caption {
 	padding:10px 0px !important;

 }

 .bg-sobre{
 	height:232px;
 	background: url(../imgs/bg-sobre-home.png)top center no-repeat;
 }



 .btn-transparente,.btn-transparente:hover{
 	border:1px solid;
 	font-size:15px;
 	background:none;
 	color:#000;
 	height: 46px;
 	padding: 12px;
 }

 .dicas-home{
 	border:none;
 	background:none;
 	padding:0px;
 }

 .dicas-home h1{
 	line-height:20px;
 }


 .dicas-home .caption {
 	padding:10px 0px !important;

 }

/**
============================================
					HOME
============================================
*/

/**
============================================
					EMPRESA
============================================
*/

.bg-empresa{
	background:#f3dd92 url(../imgs/bg-empresa.jpg) top center no-repeat;
}

.bg-descricao-empresa{
	position:relative;
	height: 224px;
}

.fundo-branco{
	bottom:32px;
	z-index:1;
	width:100%;
	position:absolute;
	height: 57px;
	background:  url(../imgs/fundo-transparente-branco.png);
    padding: 3px;
}


.fundo-branco h1{
	font-weight: 300;
	color: #000000;
	font-size: 17px;
}

.fundo-branco h2{
	font-size: 33px;
	font-weight: 700;
    margin-top: -9px;
}


.descricao-empresa{
	overflow:hidden;
	background:#e3bd67;
}

.btn-empresa {
	font-size:22px;
	font-weight:300;
	padding:15px 27px 15px 60px ;
	border-radius:10px;
	color:#000;
	background: #be7304 url(../imgs/icon-carrinho.png)center left 22px no-repeat;
	-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
}

.btn-empresa:hover{
	font-size:22px;
	background:#7b4e03 url(../imgs/icon-carrinho.png)center left 22px no-repeat;
	color:#000;
}

.controles-empresa,.controles-empresa:hover,.controles-empresa:focus{
	background: none !important;
	color: #000;
	font-size: 50px;
	bottom: 58px;

}

.descricao-empresa p{

}

.descricao-empresa h3{
	font-weight:300;
}

.controles-empresa .glyphicon-chevron-right {
	right: 3px;
}

.controles-empresa .glyphicon-chevron-left {
	left: 3px;
}

/**
============================================
					EMPRESA
============================================
*/


/**
============================================
Pinterest-like Responsive Grid
============================================
*/

#pinBoot {
	position: relative;
	max-width: 100%;
	width: 100%;
}
.pintrest iframe {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.pintrest img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.white-panel {
	position: absolute;
	background: white;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	padding: 2px;
}
/*
stylize any heading tags withing white-panel below
*/



/**
============================================
					CONTATOS
============================================
*/

.bg-fale-conosco{
	background: url(../imgs/fale-conosco.jpg) top center no-repeat;
}

.contatos .nav-tabs{
	border:inherit;
}

.contatos .nav li a, .contatos .nav>li a:hover {
	text-align: right;
	padding: 12px 10px 10px 9px;
	border-radius: 5px;
	width: 212px;
	height: 49px;
	background: #f3dd92;
	font-size: 14px;
	font-weight: 700;
	color: #000;
}

.position-imagem {
	height: 44px;
	background: url(../imgs/titulo-fale-conosco.png) 10px no-repeat;

}


.contatos .nav-stacked>li {
	width: 262px;
	margin-bottom: 10px;
}



.fundo-contatos h1{
	margin-top: 10px;
}



.contatos h5{
	text-shadow:none;
	font-size:25px;
	color:#000;
	font-family: "Lato Black";

}

.contatos h5 span{
	font-size:18px;

}

.contatos h1{
	font-weight:700;
}

.btn-azul-claro{
	margin-top:5px;
	color:#fff;
	border-radius:0px;
	background:#29a6e0;
}

.btn-formulario,.btn-formulario:hover{
	padding:16px 40px;
	height: 55px;
	width:135px;
	font-size:15px;
	color:#000;
	border-radius:0px;
	background:#7b4e03;
}

.formulario label{
	font-size: 14px;
	font-weight:700;
}




.contatos-geral1 p, .contatos-geral p {
	overflow: hidden;
	width: 375px;
	height: 59px;
}

.fundo-formulario{
	border-radius:10px;
}


.fundo-formulario input{
	font-size:15px;
	color:#000;
}

label span{
	font-family: 'Lato', sans-serif;
	font-size:20px;
	color:#000;
}

.btn-amarelo-fale,.btn-amarelo-fale:hover{
	font-weight:700;
	height: 32px;
	width:116px;
	border-radius:5px;
	font-size:11px;
	color:#000;
	text-align: center;
	line-height: 18px;
	background:#f3dd92;
}


.bg-como-chegar {
	height: 67px;
	background: url(../imgs/seta-como-chegar.png) right 17px top 17px no-repeat;
}

.bg-como-chegar h2{
	font-weight:300;
	color:#000;
	font-size:22px;

}

.bg-como-chegar h3{
	color:#000;
	font-size:43px;
	font-family:"Lato Black";

}

.fundo-form1{
	border-radius:0px;
	background:#f3dd92;
}

.telefones-fale {
	text-align:right;
	padding: 8px 2px;
	text-align: right;
	width: 130px;
	height: 30px;
	background: #f3dd92 url(../imgs/icon-telefone1.png)left 10px center no-repeat;
}

.telefones-fale h3{
	font-size:13px;
}

.btn-chamar-fale,.btn-chamar-fale:hover{
	padding:5px 10px;
	color:#fff;
	height: 30px;
	border:inherit;
	border-radius:0px;
	font-size:13px;
	background:#940000;
}


.contatos p{
	font-size:13px;
}

::-webkit-input-placeholder {
	opacity:1;
	color: #000;
}

:-moz-placeholder {
	opacity:1;
	color: #000;
}

::-moz-placeholder {
	opacity:1;
	color: #000;
}

:-ms-input-placeholder {
	opacity:1;
	color: #000;
}
/**
============================================
					CONTATOS
============================================
*/


/**
============================================
					NOTICIAS
============================================
*/

.bg-noticias{
	background: #f3dd92 url(../imgs/bg-noticias.jpg) top center no-repeat;
}



.fundo-amarelo{
	background:#e3bd67 !important;
	height:68px;
}

.btn-drop,.btn-drop:hover {
	border-radius: 0px;
	font-weight: 300;
	font-size: 13px;
	color: #000;
	background: #fff;
}



.form-control,.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
	font-size:13px;
	border-radius: 0px;
}

.input-group-lg>.input-group-btn>.btn {
	border-radius:0px;
	background: #be7304;
	color: #fff;
}

.menu-categorias {
    min-width: 152px;
    margin: 47px 0 0;
    font-size: 13px;
}

.noticias-thumb h1, .noticias-thumb-dentro h1{
	font-size:17px;
	padding-bottom: 10px;
	border-bottom:1px solid #000;
}

.noticias-thumb,.noticias-thumb-dentro{
	position:relative;
	padding:0px;
	background:none;
	border:0px;
}

.noticias-thumb-dentro p {
	font-size: 13px;
}


.noticias-thumb p {
	max-height: 76px;
	padding: 10px;
	font-size: 15px;
	color: #fff;
	font-weight: 400;
	overflow: hidden;
}

.comentario-noticias{
	width:55px;
	height:66px;
	border-radius:5px;
	color:#000;
	background:#e3bd67;
}


.noticias-descricao{
	bottom:92px;
	position:absolute;
}


.btn-laranja, .btn-laranja:hover {
	height: 20px;
	width:55px;
	border-radius:0px 0px 5px 5px;
	padding: 2px 0px 27px;
	border: none;
	background: #be7304;
	color: #000;
}



.comentario-dicas h2 {
	font-size: 20px;
	color: #000;
	font-weight:700;
}

.comentario-dicas h1 {
	font-size: 17px;
	color: #000;
	font-weight:700;
}

.comentario-dicas p {
	font-size: 14px;
	color: #000;
	font-weight:400;
}



.btn-comentario,.btn-comentario:hover {
	height: 37px;
	width: 136px;
	border-radius: 0px;
	padding: 6px 5px;
	background: #be7304;
	font-size: 11px;
	color: #fff;
	font-weight: 300;
}

.jumbotron p {
	margin-bottom: 10px;
}

.comentario-dicas .jumbotron{
	margin-bottom: 10px;
	padding:20px 12px;
	border-radius:0px !important;
	background: #e3bd67;
}

.bg-descricao-noticias{
	position:relative;
	z-index:999 !important;
	height: 224px;
	background: url(../imgs/bg-descricao-noticias1.png)top 145px left 10px no-repeat,url(../imgs/bg-descricao-noticias.png)top right no-repeat;
}

.orcamento-piscinas{
	background: #f3dd92 url(../imgs/bg-orcamentos-piscinas.jpg) top center no-repeat;
}


.bg-descricao-piscinas{
	position:relative;
	z-index:99;
	height: 224px;
	background: url(../imgs/bg-descricao-piscinas1.png)top 145px left 10px no-repeat,url(../imgs/bg-descricao-piscinas.png)top right 17px no-repeat;
}
/**
============================================
					NOTICIAS
============================================
*/



/**
============================================
					ORCAMENTO PISCINAS
============================================
*/

.tb-lista-itens td,.fa-times-circle:before {
	font-weight:300;
	color:#000;
	padding: 4px 1px 4px 5px !important;
	font-size:14px;
	vertical-align: middle !important;
}

.tb-lista-itens tbody,.tb-lista-itens table{
	margin-bottom: 0px !important;
	border-bottom:2px solid #b69752;
	background:#e3bd67;
}

.tb-lista-itens h5,.formulario-orcamento h5{
	text-shadow:none;
	color:#000;
}

.tb-lista-itens thead{
	font-size:16px;
	font-weight:300!important;
	background:#ccaa5c;
}

.tb-lista-itens th,.tb-lista-itens .table>thead>tr>th{
	border:none;
	font-size:17px;
	font-weight:300!important;
}

.input-lista-prod-orcamentos {
	width: 33px;
	height: 25px;
	line-height: 20px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn-laranja1, .btn-laranja1:hover {
	border-radius:0px;
	border: none;
	background: #be7304;
	color: #000;
}

.tipos-orcamentos,.envie-orcamentos{
	overflow:hidden;
	background: #e3bd67;
}

.tipos-orcamentos h1 {
	overflow: hidden;
	height: 67px;
	border-bottom: 1px solid #000;
	font-size: 13px;
	font-weight: 300;
}

/**
============================================
					ORCAMENTO PISCINAS
============================================
*/

/**
============================================
					SERVICOS
============================================
*/

.bg-servicos{
	background: #f3dd92 url(../imgs/bg-servicos.jpg) top center no-repeat;
}

.bg-descricao-servicos{
	position:relative;
	z-index:999 !important;
	height: 224px;
	background: url(../imgs/bg-descricao-servicos1.png)top 145px left 10px no-repeat,url(../imgs/bg-descricao-servicos.png)top 34px right  no-repeat;
}

.categorias-servicos .flexslider {
	margin: 0 0 30px;
	border-radius:inherit;
	padding:21px;
	background:#e3bd67;
	border: none !important;
}

.categorias-servicos .flex-direction-nav a {
    margin: -27px 0 0;
}

.categorias-servicos .flexslider .slides img{
	width:auto !important;
}

.categorias-servicos .media-left, .categorias-servicos .media-right, .categorias-servicos .media-body {
	vertical-align: middle;
}

.categorias-servicos h1{
	font-weight: 400;
	font-size:12px;
}

.img-circle {
	margin-right: inherit;
	-webkit-box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    -1px 2px 4px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         -1px 2px 4px 0px rgba(0, 0, 0, 0.75);

}

.empresa-carroucel .img-circle{
	-webkit-box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    -1px 2px 4px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         -1px 2px 4px 0px rgba(0, 0, 0, 0.75);

}

.empresa-carroucel img{
	margin-right: 63px;
}

.position-servico{
	position:relative;
}

.tipos-servicos{
	position:absolute;
	bottom:-17px;
	height:25px;
	width:93%;
	background:#e3bd67;
}

.position-servico h1{
	font-size:17px;
	overflow:hidden;
	max-height:39px;
}

.position-servico p{
	font-size:13px;
	overflow:hidden;
	max-height:70px;
}


.tipos-servicos-detalhe .media,.tipos-servicos-detalhe .media-middle{
	margin:0px;
	height:35px;
}

.tipos-servicos-detalhe h1{
	padding-bottom:7px;
	border-bottom:4px solid #e3bd67;
}

.btn-servico-dentro,.btn-servico-dentro:hover{
	padding-right:0px;
	font-size:13px;
	border-radius:inherit !important;
	height:32px;
	width:207px;
	border-radius:5px;
	color:#000;
	background: #be7304 url(../imgs/icon-carrinho-mini.png)center left 5px no-repeat;

}

.telefones-servico {
	text-align:right;
	padding: 8px 2px;
	text-align: right;
	width: 130px;
	height: 30px;
	background: #be7304 url(../imgs/icon-telefone1.png)left 10px center no-repeat;
}

.telefones-servico h3{
	font-size:13px;
}


.bg-descricao-produtos{
	position:relative;
	z-index:999 !important;
	height: 224px;
	background: url(../imgs/bg-descricao-produtos1.png)top 145px left 10px no-repeat,url(../imgs/bg-descricao-produtos.png)top right no-repeat;
}


.carroucel-produtos .active {
	width: 10px;
	height: 10px;
	margin: 2px;
	opacity:1;
	background-color: #fff;
}

.carroucel-produtos li{
	width: 10px;
	height: 10px;
	margin: 2px;
	opacity:0.5;
	background-color: #fff;

}

.carroucel-produtos, .carousel li {
	bottom: 4px;
	margin-right: 0px !important;
}

.produto-dentro h5{
	color: #000;
	font-size:12px;
	padding-bottom:10px;
	border-bottom:2px solid #e3bd67;
	font-weight:300;
}

.controles-produtos,.controles-produtos:hover,.controles-produtos:focus{
	background: none !important;
	color: #fff;
	font-size: 20px;
}
.controles-produtos{
	height:20px;
	width:20px;
	top:91px;
}
.controles-produtos.right {
	font-size: 20px;
	right: 22px;
}

.controles-produtos.left{
	left: 22px;
}

.controles-produtos .glyphicon-chevron-left, .controles-produtos .glyphicon-chevron-right, .controles-produtos .icon-prev, .controles-produtos .icon-next {
    font-size: 20px;
}

.detalhes-produtos h4{
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:10px;
}

.detalhes-produtos h4 span{
	letter-spacing:inherit;
	padding-left:5px;
	font-weight:300;
	font-size:13px;
}

.detalhes-produtos .lead,.detalhes-produtos .media{
    margin: 0px;
}

 .descricao-produtos-dentro h1{
	font-weight:700;
}




.bg-pesquisa{
	background: #e3bd67;
	height: 68px;
	overflow: hidden;
}



.list-cat-prod{
	background: #E3BD67;
}


.calendario label{
	font-weight: 700;
	font-size: 20px;
	color: #000;
}


.formulario h2{
	font-size:15px;
	font-weight:400;
}
